extends ../layout

block content
    include partials/user_header
    if orders.length == 0
        p.lead Пусто.
    else
        table.table.table-hover.table-condensed.results-table
            thead
                tr
                    th Тип
                    th Заказ
                    th Описание
                    th Участник
                    th Статус
                    th Сумма
            tbody
                each order in orders
                    tr.offer-row(data-link="/order/" + order._id, class=order.status == '3' ? "active" : "")
                        td
                            =(order._seller._id.toString() !== User._id.toString()) ? "Купил": "Продал"
                        td.text-nowrap
                            a(href="/order/" + order._id)=order.order_id
                            br
                            span.text-muted=moment(order.updatedAt).fromNow()
                        td
                            =order.description
                            | &nbsp;
                        td
                            a(href=adminPage + "/users/" +  (order._seller._id.toString() !== User._id.toString()) ? order._seller._id :  order._payeer._id)= (order._seller._id.toString() !== User._id.toString()) ? order._seller.username : order._payeer.username
                        td=Helper.TextStatus(order.status)
                        td
                            =order.sum