extends ../../layout


block content
    .page-header
        h1 Подтверждение заказа
    .row
        .col-md-2
            b.text-muted Продавец
        .col-md-4
            p=offer._owner.username
                | &nbsp;
                if offer._owner.isOnline
                    label.badge.badge-success online
                else
                    if offer._owner.isInTouch
                        label.badge.badge-info на связи
                    else
                        label.badge.badge-danger offline
    .row
        .col-md-2
            b.text-muted Игра
        .col-md-4
            p=offer._game.title
    .row
        .col-md-2
            b.text-muted Сервер
        .col-md-4
            p=offer._server.name
    if(offer._side)
        .row
            .col-md-2
                b.text-muted Сторона
            .col-md-4
                p=offer._side.name
    if(offer._race)
        .row
            .col-md-2
                b.text-muted Раса
            .col-md-4
                p=offer._race.name
    if(offer._class)
        .row
            .col-md-2
                b.text-muted Раса
            .col-md-4
                p=offer._class.name
    if(offer._lot_page.custom_fields)
        each cf in offer.customs
            .row
                .col-md-2
                    b.text-muted=cf.title
                .col-md-4
                    p=cf.value
    .row
        .col-md-2
            b.text-muted Способ оплаты
        .col-md-4
            p=order.ps_method_title
    .row
        .col-md-2
            b.text-muted Сумма
        .col-md-4
            p=order.sum
    .row
        .col-md-3
            form(method='post', action='/order/create')
                input(type='hidden', name='lot_id', value=order.lot_id)
                input(type='hidden', name='payment_method', value=order.payment_method)
                input(type='hidden', name='type', value=order.type)
                input(type='hidden', name='_csrf', value=_csrf)
                button.btn.btn-primary(type='submit') Оплатить
                a.btn.btn-default.pull-right(href='javascript:history.go(-1)') Отменить